body {
    margin: 0;
    background-color: #161716;
}

:root {
    --vh: 6.15px;
}

.panel-home {
    height: auto;
    background-color: #ffffff;
}

section {
    display: block;
    background: #494b4a8c;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url('/images/choza3.jpg');
    min-height: calc(var(--vh, 1vh)* 100);
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed !important;
    background-position: center center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    padding: 15px;
}

.banner-logo {
    width: 600px;
    height: 200px;
}

.title-carta {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px !important;
    font-family: "Anton", sans-serif !important;
    font-weight: 400 !important;
}

.subtitle-1 {
    text-align: center;
    color: #FFBD59;
    font-size: 35px !important;
    font-family: "Briem Hand", cursive !important;
    font-weight: 400;
}

.menu-container {
    background-color: #131d37;
    padding: 15px !important;
    margin-top: 18px !important;
    margin-bottom: 15px !important;
}

.item-title {
    color: #ffffff;
    font-weight: 400;
    font-size: 25px !important;
}

.item-title-1 {
    color: #ffffff;
    text-align: center;
    font-family: "Anton", sans-serif !important;
    font-weight: 400;
    margin-bottom: 6px;
    font-size: 25px !important;
}

.item-subtitle {
    color: #979797;
    font-weight: 400;
    font-style: normal;
    font-size: 20px !important;
}

.fab {
    border-radius: 100%;
    bottom: 25px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    right: 25px;
}

.justify-content-sear {
    display: flex;
    justify-content: flex-end;

}

.justify-content-sear input {
    width: 30%;
}

.p-dialog .p-dialog-content {
    background: #000000 !important;
    color: #ffffff !important;
}

.p-dialog .p-dialog-header {
    background: #000000 !important;
    color: #ffffff !important;
}

.dialog-width {
    width: 50vw;
}

/* style={{ width: '50vw' }} */
@media (max-width: 850px) {
    .banner-logo {
        width: 500px;
        height: 150px;
    }
}

@media (max-width: 550px) {
    .banner-logo {
        width: 400px;
        height: 150px;
    }

    .dialog-width {
        width: 70vw;
    }
}

@media (max-width: 450px) {
    .banner-logo {
        width: 300px;
        height: 100px;
    }

    .title-carta {
        font-size: 40px !important;
    }

    .subtitle-1 {
        font-size: 30px !important;
    }
}

@media (max-width: 350px) {
    .banner-logo {
        width: 250px;
        height: 80px;
    }

    .title-carta {
        font-size: 35px !important;
    }

    .subtitle-1 {
        font-size: 27px !important;
    }

    .item-title {
        font-size: 20px !important;
    }

    .item-subtitle {
        font-size: 16px !important;
    }
}